/* All styles for your header Components live here */
.header-container {
    display: flex;
    flex-direction: column;
}

.header-title {
	display: flex;
    flex-direction: row;
}
.image-thumbnail {
    display: flex;
    flex-direction: column;
}
.header-content {
    display: column;
    margin-left: 50px;
}
.img-title {
    display: flex;
    flex-direction: row;
}
.img {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    margin-top: 20px;
}
.image-thumbnail img { 
    height: 40px;
}
p {
    font-size: .85rem;

}